attrs==20.2.0
hypothesis==5.35.4
-e git://github.com/sogaiu/hypothesis-grammar-clojure.git@6b1da97a4f69f154c5b8e0c945c5aa6b33ec1bd7#egg=hypothesis_grammar_clojure
sortedcontainers==2.2.2
-e git://github.com/tree-sitter/py-tree-sitter.git@aa4ffe81b2970e70c5ae595bd57a750693d3c487#egg=tree_sitter
